################################################################################
#
# 1) Copy this file to the /etc/systemd/system directory
# 2) Edit the PYTHONPATH path
# 3) Edit the ExecStart statement
# 4) Run the command "systemctl daemon-reload". This needs to be run only once
# 5) Run the command "systemctl start mdl.service" to start
# 6) Run the command "systemctl stop mdl.service" to stop
# 7) Run the command "systemctl restart mdl.service" to restart
# 8) Run the command "systemctl enable mdl.service" to make mdl
#    start automatically on boot
#
################################################################################
[Unit]
Description=mdl: Time series data API

[Service]
User=mdl
Group=mdl
Environment=PYTHONPATH=/home/mdl START=--start STOP=--stop RESTART=--restart
ExecStart=
ExecStart=/home/mdl/bin/mdl-api $START
ExecStop=/home/mdl/bin/mdl-api $STOP
ExecReload=/home/mdl/bin/mdl-api $RESTART
RemainAfterExit=yes
GuessMainPID=yes
Type=forking

[Install]
WantedBy=default.target
